.btn-outline {
    background: transparent !important;
    color: inherit !important;
    transition: all .5s;
}

.btn-primary.btn-outline {
    //color: #428bca !important;
    color: $primaryColour;
    background-color: transparent;
    border-color: $primaryColour;
}

.btn-success.btn-outline {
    color: #5cb85c !important;
}

.btn-info.btn-outline {
    color: #5bc0de !important;
}

.btn-warning.btn-outline {
    color: #f0ad4e !important;
}

.btn-danger.btn-outline {
    color: #d9534f !important;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff !important;
}



.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: #fff !important;
  background-color: $primaryColour !important;
  border-color: $primaryColour !important;
}
//.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
//  color: #fff;
//  background-color: $primaryColour;
//  border-color: $primaryColour;
//}
//.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
//  color: #fff;
//  background-color: $primaryColour;
//  border-color: $primaryColour;
//}
