// Our responsive styles

@media (min-width: 990px) and (max-width: 1200px) {

  .fed .panel p {
    min-height: 8.6em;
  }

  .act {
    h4.media-heading, h3.panel-title{
      font-size: 106%;
    }
  }

}


@media (max-width: 990px) {

  .jumbotron p {
    padding-left: 100px !important;
    line-height: 1.6em !important;
    background-size: 75px 100px !important;
  }

}


@media (max-width: 680px) {

  .fed .panel p {
    min-height: 10em;
  }

}


@media (max-width: 595px) {

  .fed .panel p {
    min-height: 1em;
  }

}


@media (max-width: 390px) {

  .jumbotron p {
    background-size: auto !important;
    font-size: 2.1em !important;
    line-height: 1.6em !important;
  }

}


@media (max-width: 320px) {

  .jumbotron p {
    font-size: 2.1em !important;
    line-height: 1.35em !important;
  }

}
