// Variables


$primaryColour:           #563d7c;  //purple
// $primaryColour:         #660000;  // horrid red


// $primaryColourLighter: #6F5499;  //lighter purple
$primaryColourLighter:    lighten( $primaryColour, 12% );  //lighter purple
// $primaryColourLighter: #07076a;  // 90's blue


// $flashColour:          lighten( $primaryColour, 58% );  // for bg version
$flashColour:             $primaryColourLighter;
