#content {
	height: 249px;
	float: left;
	padding: 0;
	margin: 0;
	border: none;
	margin-left: 0;
}

#navigation a {
	width: 99%;
}

#navigation {
	height: 349px;
/* 	border-right: 1px solid black; */
	margin-right: -1px;	
}
#navigation  ul {
	padding-top: 10px;
}
#navigation  li {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

#content {
	border-left: 1px solid black;
}

legend {
	/* position: relative; */
	background-color:  white;
	color: black;
		display: block;
	float: none;
	clear: both;
}


form#survey select {
  display: block; 
}

#footer {
	margin-left: 13px;
	float: left;
	width: 96%;	
}

#footer #copyright {
	width: 170px;

}
