*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
img {
	border: none;
}
a:link,  a:visited {
	color:#333399;
}
 a:hover {
	text-decoration:underline;
	color:#990033;
}

address.vcard span.country-name {
	display: none;
}
.accessibility {
	display:none;
}

.backToTheTop {
   float: right;
    margin-left: 8em;
}

#skipToContent {
   float: right;

}

.skipToContent {
	margin-right: 1em;
	color: #FFFFFF;
}

#header #skipToContent a {
	color: #FFFFFF;
}

#header, #navigation {
	font-family: "Tw Cen MT", "Gill Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#header {
	background:url("images/headerTile.gif") repeat-x #e5bfcc;
	clear:both;
	float:none;
}
#header li a {
	padding-left: 6px;
	padding-right: 6px;
}
#header a:link, #header a:visited , #navigation a:link, #navigation a:visited {
	text-decoration:none;
	color:#FFFFF;
}
#header a:hover, #navigation a:hover {
	text-decoration:underline;
}
#header #siteName {
	float: left;
}
#header #fadeDiv {
	height: 48px;
	width: 111px;
	float: left;
	background:url("images/blend_curve.gif") no-repeat;
}
#header #mainNav ul li span{
	border-right: 1px solid #660000;
	font-size: 50%;
	position: relative;
	bottom: 0.3em;
}
#header ul {
	text-align:right;
	padding-top: 31px;
	font-weight: bold;
	font-size: 0.85em;
}
#header ul  li {
	display: inline;
}
#header a:visited {
	color:#660000;
}

#navigation a:link, #navigation a:visited {
	color:#990033;
}
#navigation a:hover {
	color:blue;
}
#navigation a {
	display: block;
}
#navigation {
	float: left;
	font-size:0.9em;
	width: 196px;
	border-right: 1px solid black;
}
#navigation #outerCircleDiv {
	background:url("../images/flowers/blank.gif") no-repeat;
	height: 163px;
}
#navigation #circleDiv {
	height: 98px;
	width: 99px;
	position: relative;
	top: 32px;
	left: 45px;
}
#navigation ul {
	padding-top: 6px;
	padding-left: 26px;
}
#navigation li {
	list-style: none;
}
.floatFix{
	clear: both;
}
#content {
	margin-left: 196px;
	min-height: 349px;
	padding-top: 0;
	border-left: 1px solid black;
}
#content #contentText {
	padding: 2.5em 3em 3em 3em;
	font-size: 0.84em;
}
#content h2 {
	margin: 0 0 1.5em 0;
}
#content #contentText h3 {
	margin: 1em 0 1em 0;
	font-size: 0.98em;
}
#content #contentText p {
	padding-bottom: 0.95em;
}
#content #contentText ul {
	padding: 0.4em 0 1em 2.75em;
}
#content #contentText address {
	padding: 1em 0 2.5em 2.5em;
	font-style: normal;
}
#content #contentText  input, #content #contentText  textarea {
	margin-bottom: 1em;
	margin-top: 0.2em;
}
#content #contentText  textarea {
	font-size: 0.955em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#content #contentText  fieldset {
	Border:0
}
#content #contentText  fieldset input {
	margin-bottom: 0;
}
#contentFlag {
	padding-top: 22px;
	float: left;
}	

#survey {
	width: 45em;
	margin-left: auto;
	margin-right: auto;
}
#buttons {
	padding: 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

fieldset legend {
	float: left;
	margin-bottom: -1.5em;
	padding-top: 0.8em;
}
fieldset {
	margin: 0;
}
fieldset input{
	margin-left: 16em;
	margin-right: 2px;
}

form#survey select {
	margin-top: 12px;
}

form#survey label{
	width: 16em;
	display: block;
	float: left;
	padding-top: 1em;
}
form#survey fieldset label{
	float:none;
	display: inline;
	padding-top: 0em;
}

form#survey label.dropDown {
}

fieldset legend, form#survey label {
	
}

hr {
	margin-bottom: 1em;
}

#survey br {
	margin-top: 1.5em;
	padding-left: 2px;
	background-color: green;
}
#surveyLink {
	float: right;
	padding-right: 10px;
}

#footer {
	border-top: 1px solid black;
	margin-left: 26px;
}
#footer a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.63em;
}
#footer #copyright p {
	border-bottom: 1px solid black;
}
#footer #copyright a:link, #footer #copyright a:visited {
	text-decoration:none;
	color:#CCCCCC;
}
#footer #copyright a:hover {
	color: #696969;
	text-decoration: none;
}
#footer #copyright {
	float: left;
	border-right: 1px solid black;
	height: 67px;
	width: 170px;
}
#footer #copyright p {
	color: #696969;
	padding: 3px 0 3px 0;
}
#footer  ul#footerLinks {
	text-align: right;
	margin-top: 1px;
	float: right;
}
a.lastLI {
	border-style: none;
}
#footer #footerLinks  span {
	border-right: 1px solid black;
	font-size: 48%;
	position: relative;
	bottom: 0.1em;
}
#footerLinks  a {
	padding-left: 6px;
	padding-right: 6px;	
}
#footer ul#footerLinks li {
	display: inline;
	margin-top: 2px;
}
#footer ul#footerLinks{
	margin-right: 2px;
}
#footer a:link, #footer a:visited {
	text-decoration:none;
}
